*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
.container{
    background-image: url(car.png);
    height: 100%;
    width: 100%;
    text-align: end;
    padding: 20px;
    background-size: cover;
}
h2{
    color: white;
    text-align: end;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color:white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}
